@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

.conteiner{
    position: relative;
    width: 20rem;
    height: 32rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    background-repeat: no-repeat;
}

img{
    width: 17rem;
    height: 17rem;
    border-radius: 13px;
    Display: flex;
    Flex-direction: row;
    Justify-content: center;
    Align-items: center;
    position: absolute;
    left: 1.6rem;
    top: 1rem;
}

h4{
    text-align: center;
    display: flex;
    Justify-content: center;
    top: 18rem;
    position: relative;
    margin: 12%;
    font-weight: 700;
    font-size: 16px;
    opacity: 85%;
    color: hsl(218, 44%, 22%);
}

p{
    text-align: center;
    display: flex;
    Justify-content: center;
    top: 16rem;
    position: relative;
    margin: 12%;
    font-weight: 400;
    font-size: 13px;
    opacity: 85%;
    color: hsl(220, 15%, 55%);
}

